/* badge styling */
.badge {
    border-radius: .25rem;
    display: inline-block;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    padding: .25em .4em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.launch-container {
    margin-left: 0px !important;
}

.launch-container .badge {
    float: left;
    margin: 10px 10px 10px 0px;
    padding: 10px !important;
    background-color: #ff4500ad;
    color: white !important;
}



.wy-nav-content-wrap {
    background: #fcfcfc;

    /*
    display: flex;
    min-width: 100%;
    */
}


div.card {
    max-width: 400px;
    height: fit-content;
    padding-top: 10px;
}

.example-title {
    padding: 2px;
}

/* This is really messy but just navigates the panel hierarchy 
 * This is necessary to change the formatting of the panel titles 
 */
div.example-panels > div > div > div > div > blockquote {
    margin-bottom: 0px;

}
.btn-author {
    /* set float so the button width
     * shrinks to fit its contents
     */
    float: left;
    margin: 5px;
}
.example-description {
    float: left; /* so the author btns don't mess with it */
}
.NameHighlights {
    position:relative;
}

.NameHighlights div {
    display: none;
}

.NameHighlightsHover {
    position:relative;
}

.NameHighlightsHover div {
    display:block;
    position:absolute;
    width: 15em;
    top:1.3em;
    left:70px;
    z-index:1000;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 5px;
    border-radius: 0.25em;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 /15%);
}

.author-div {
    /* this is to ensure that hover boxes don't appear off the right
    side of the screen. */
    padding-right: 100px !important;
}

/* styling for lists on example landing pages */
.document ol {
    margin: 10px;
    padding: 0.25em;
}

.document ul {
    margin: 10px;
    padding: 0.25em;
}

.document li {
    list-style-type: decimal;
    padding: 0.25em;
}

.panel-img {
/* class for styling panel images */
    padding: 10px !important;
    width: auto !important;
    height: 50% !important;
    object-fit: scale-down !important;
}

/* class used for the category pages on the homepage */
.gallery-card {
    max-width:500px !important;
}

/* class used for examples on the subgallery pages */
.gallery-example {
    margin: 5px 0px; /*adjust vertical spacing of elements*/
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gallery-example img {
    height: 80%;
    max-height: 150px;
    max-width: 150px;
}

.gallery-example div {
    padding: 0px 5px; /*horizontal spacing between image and example description*/
}

.example-content {
    float: left;
    padding-left: 0px !important;
    max-width: 1000px;
}

.home-card {
    max-width:300px !important;
}

/* Landing Page Header Styling*/

.landing-page-header {
    display:inline; /*suppresses newline after label (e.g. Authors) */
}

.landing-page-header p {
    display:inline; /*suppresses newline after label (e.g. Authors) */
    display:inline;
}

.landing-page-header .sd-badge {
    margin: 0px 5px 0px 0px;
}
