.launch-badge {
    float: left;
    margin: 10px;
    padding: 10px !important;
}

.launch-container {
    margin-left: 0px !important;
}

/*.wy-nav-content {
    max-width: none;
    height: auto !important;
    width: 100%;
}
*/
.wy-nav-content-wrap {
    background: #fcfcfc;

    /*
    display: flex;
    min-width: 100%;
    */
}


div.card {
    max-width: 400px;
}

.example-title {
    padding: 2px;
}

/* This is really messy but just navigates the panel hierarchy 
 * This is necessary to change the formatting of the panel titles 
 */
div.example-panels > div > div > div > div > blockquote {
    margin-bottom: 0px;

}
.btn-author {
    /* set float so the button width
     * shrinks to fit its contents
     */
    float: left;
    margin: 5px;
}
.example-description {
    float: left; /* so the author btns don't mess with it */
}
.NameHighlights {
    position:relative;
}

.NameHighlights div {
    display: none;
}

.NameHighlightsHover {
    position:relative;
}

.NameHighlightsHover div {
    display:block;
    position:absolute;
    width: 15em;
    top:1.3em;
    left:70px;
    z-index:1000;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 5px;
    border-radius: 0.25em;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 /15%);
}
